#Options +FollowSymLinks
RewriteEngine On
RewriteRule ^index.html$ http://wwwhep.physik.uni-freiburg.de/~cburgard/CAF-doc/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^T(.+)\.html$ http://root.cern.ch/root/html/T$1.html [L]
