*.pyc
*~
CAFDocumentation/html/
CAFDocumentation/cmt/documentation*.html
CAFDocumentation/cmt/documentation*.tex
QFramework/Root/LinkDef.h
QFramework/Root/definitions.h
QFramework/Root/locals.h
QFramework/python/__init__.py
SFramework/Root/LinkDef.h
SFramework/Root/definitions.h
SFramework/Root/locals.h
SFramework/python/__init__.py
cafsetup.sh
RooFitUtils
QFramework/test/myplotHash_*.C
QFramework/test/myplotHash_*.pdf
QFramework/test/listOfHashes.txt