# -*- mode: config -*-

# load the default settings, aliases need to be imported again
[config]
include: bbll/config/master/analyze.cfg, bbll/config/aliases/aliases.cfg

# fake specific settings
[analyze]
# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-bbll-fakes.root

# define the cuts
cuts: bbll/config/cuts/fakes.def
